:root {
	--c-back1: white;
	--c-back2: white;
	--c-text: black;
	--c-title: brown;
}

body {
	font-family: "PT Sans", Arial, Helvetica, sans-serif;
	min-height: 100dvh;
	min-width: 320px;
	margin: 0;
	background: linear-gradient(45deg, var(--c-back1), var(--c-back2));
	color: var(--c-text);
	display: grid;
	grid-template-rows: auto 1fr auto;
}

h1, h2 {
	margin: 0;
	color: var(--c-title);
	font-family: "Comfortaa", "PT Sans", Arial, Helvetica, sans-serif;
}

.page {
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1em;
}
.page.open {
	display: flex;
}
