#p-settings {
	font-size: 1.2rem;
}

.settings-theme {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	transition: opacity 250ms;
}
.settings-theme_dim {
	opacity: 0.3;
}

.settings-theme label span {
	font-size: 1.5rem;
	width: 2.2rem;
	height: 2.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.4rem;
	user-select: none;
	cursor: pointer;
}

.settings-theme input {
	position: absolute;
	pointer-events: none;
	opacity: 0;
	box-shadow: inset 0 0 0px var(--c-title);
	transition: box-shadow 250ms;
}

.settings-theme input:checked ~ span {
	border: 2px solid var(--c-title);
}
.settings-theme input:focus-visible ~ span {
	box-shadow: inset 0 0 4px var(--c-title);
}

.checkbox {
	display: flex;
	align-items: center;
	gap: 0.4rem;
	user-select: none;
	cursor: pointer;
}

.checkbox input {
	position: absolute;
	pointer-events: none;
	opacity: 0;
}

.checkbox-mark {
	position: relative;
	width: 1.25rem;
	height: 1.25rem;
	border: 2px solid var(--c-title);
	border-radius: 0.2rem;
	transition: box-shadow 250ms;
}
.checkbox-mark::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0.5rem;
	height: 0.5rem;
	background-color: var(--c-title);
	border-radius: 0.1rem;
	transform: translate(-50%, -50%) rotate(-45deg) scale(0);
	transition: transform 250ms;
}
.checkbox input:checked ~ .checkbox-mark::before {
	transform: translate(-50%, -50%) rotate(45deg) scale(1);
}
.checkbox input:focus-visible ~ .checkbox-mark {
	box-shadow: inset 0 0 4px var(--c-title);
}

#settings-anim ~ .checkbox-mark::before {
	transition: none;
}
#settings-anim:checked ~ .checkbox-mark::before {
	transition: transform 250ms !important;
}

.settings-customTheme {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
}

.settings-customTheme-inputs {
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 250ms;
}
.settings-customTheme-inputs_open {
	grid-template-rows: 1fr;
}
.settings-customTheme-inputs > * {
	display: grid;
	grid-template-columns: 1fr 1fr;
	overflow: hidden;
	gap: 0.4rem;
}


.settings-data {
	max-width: 300px;
}
.settings-data p {
	font-size: 1.1rem;
	margin-block: 0.4rem;
}
.settings-data > input {
	position: absolute;
	pointer-events: none;
	opacity: 0;
}
.settings-data > label {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
	cursor: pointer;
	user-select: none;
}
.settings-data > label div {
	width: 0.9rem;
	height: 0.9rem;
	border: 2px solid var(--c-title);
	border-top: none;
	border-left: none;
	border-bottom-right-radius: 0.2rem;
	transform: translateY(0.4rem) rotate(-45deg);
	transition: transform 250ms;
}
.settings-data > input:focus-visible ~ label div {
	filter: drop-shadow(0 0 4px var(--c-title));
}
.settings-data > input:checked ~ label div {
	transform: translateY(0.2rem) rotate(45deg);
}


.settings-data > div {
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 250ms;
}
.settings-data > div > div {
	overflow: hidden;
}
.settings-data > input:checked ~ div {
	grid-template-rows: 1fr;
}

.settings-data > div > div > div {
	display: flex;
	justify-content: center;
	gap: 1rem;
}
.settings-data button {
	border: 2px solid var(--c-title);
	border: 2px solid var(--c-title);
	background: transparent;
	border-radius: 0.3rem;
	padding: 0.3em 0.8em;
	cursor: pointer;
}
