.doc {

}

.doc-center {
	text-align: center;
}

.doc-svg {
	position: relative;
}
.doc-svg-w100 svg {
	width: 100%;
	height: auto;
}
.doc-svg-loading::before {
	content: "Загрузка изображения";
}
.doc-svg-loading::after {
	content: "";
	position: absolute;
	bottom: -0.1em;
	left: 0;
	width: 1em;
	height: 2px;
	background-color: var(--c-text);
	animation: anim-doc-svg-loading 500ms ease-in-out alternate infinite;
}
.doc-svg-center {
	text-align: center;
}

@keyframes anim-doc-svg-loading {
	0% {
		left: 0;
		width: 10%;
	}
	50% {
		width: 30%;
	}
	100% {
		left: 90%;
		width: 10%;
	}
}
