.formula {
	display: inline-flex;
	align-items: center;
	text-wrap: nowrap;
	white-space-collapse: preserve;
	width: fit-content;
	font-style: italic;
	font-family: "Arimo", Georgia, 'Times New Roman', Times, serif;
	vertical-align: middle;
}
.formula-noItalic {
	font-style: normal;
}
.formula-wrap {
	flex-wrap: wrap;
	white-space: pre-wrap;
}
.formula-bigger {
	font-size: 1.25em;
}
.formula-smaller {
	font-size: 0.7em;
}
.formula-fraction {
	display: inline-table;
}
.formula-fraction tr:first-child td {
	border-bottom: 0.1em solid currentColor
}
.formula-fraction td {
	text-align: center;
}
.formula-letter {
	display: inline-flex;
	height: 1lh;
	justify-content: center;
    align-items: center;
}
.formula-letter svg {
	width: 0.9em;
	height: 0.9em;
	flex-shrink: 0;
}
.formula-upper {
	transform: translateY(-0.3em);
}
.formula-lower {
	transform: translateY(0.3em);
}
.formula-upper-lower {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: baseline;
}
.formula-upper-lower :first-child {
	align-self: flex-end;
}
.formula-sqrt {
	position: relative;
	border: 1px solid currentColor;
	border-width: 1px 0 0 1px;
	border-top-left-radius: 0.2em;
	margin-left: 0.3em;
}
.formula-sqrt::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: calc(-0.4em - 1px);
	width: 0.4em;
	/* height: 0.3em; */
	border: 1px solid currentColor;
	border-width: 1px 0 0 0;
	transform-origin: right;
	transform: rotate(45deg);
}
.formula-vec {
	position: relative;
	display: inline-flex;
}
.formula-vec::before {
	content: "";
	position: absolute;
	top: 0;
	left: 10%;
	width: 80%;
	border: 1px solid currentColor;
	border-width: 1px 0 0 0;
	transform: translateX(0.1em);
}
.formula-vec::after {
	content: "";
	position: absolute;
	top: 0;
	left: calc(90% - 0.2em);
	width: 0.2em;
	height: 0.2em;
	border: 1px solid currentColor;
	border-width: 1px 1px 0 0;
	transform-origin: right;
	transform: translateX(0.1em) rotate(45deg);
}
.formula-hat {
	position: relative;
}
.formula-hat::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 90%;
	min-width: 8px;
	border: 1px solid currentColor;
	border-width: 1px 0 0 0;
	transform: translateX(0.1em);
}
.formula-arc {
	position: relative;
}
.formula-arc::before {
	content: "";
	position: absolute;
	top: 2px;
	left: 0;
	width: 90%;
	aspect-ratio: 1.8;
	min-width: 8px;
	border: 1px solid currentColor;
	border-width: 0 0 1px 0;
	border-radius: 50%;
	transform: translateX(0.1em) translateY(-100%);
}
.formula-sum {
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: translateY(0.15em);
}
.formula-sum-bottom {
	font-size: 80%;
}
.formula-union {
	position: relative;
}
.formula-union::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0.5em;
	border: 1px solid currentColor;
	border-right-width: 0;
	border-top-left-radius: 0.2em;
	border-bottom-left-radius: 0.2em;
}
.formula-union::after {
	content: "";
	position: absolute;
	top: calc(50% - 0.3em);
	left: -0.5em;
	height: 0;
	width: 0;
	border: 0.3em solid transparent;
	border-right-color: currentColor;
}
.formula-table-center {
	text-align: center;
}